#topbar
{
    border: 2px double green;
    padding: 16px 20px 24px 28px;
}

#logo
{
    color: #0086ff;
    font-size: 32px;
    letter-spacing: -1px;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 48px;
}

.menu-item
{
    margin: 0%;
    margin-right: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    position: relative;
    top: 10px;
    cursor: pointer;
    font-size: 14px;
    float: right;
}

#article-wrapper
{
    padding: 4% 16%;
}

h3
{
    font-size: 36px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

article
{
    border: 2px double black;
    padding: 16px 20px 24px 28px;
}

/* Selecting the First Paragraph of each Article */
/*
article > p:first-of-type
{
    background-color: lightsalmon;
}
*/

/* Selecting the Last Paragraph of each Article */
/*
article > p:last-of-type
{
    background-color: lightseagreen;
}
*/

/* Selecting the Second Paragraph of each Article */
/*
article > p:nth-of-type(2)
{
    background-color: lightslategray;
}
*/

/* Selecting all the Paragraphs which are First Child inside the Article */

/*
article > p:nth-last-of-type(2)
{
    background-color: lightslategray;
}
*/

/* Selecting all the paragraphs which  are the First Child inside the article */
/*
article > p:first-child
{
    background-color: lightsteelblue;
}
*/

/* Selecting all the paragraphs which  are the Last Child inside the article */
/*
article > p:last-child
{
    background-color: lightsteelblue;
}
*/

/* Selecting all the paragraphs which  are the Second Child inside the article */
/*
article > p:nth-child(2)
{
    background-color: lightsteelblue;
}
*/

/* Selecting all the paragraphs which  are the Second Last Child inside the article */

article > p:nth-last-child(2)
{
    background-color: lightsteelblue;
}

