body
{
    margin: 0%;
    background-color: black;
}

h1
{
    color: wheat;
    font-family: cursive;
    text-align: center;
    letter-spacing: 4px;
    font-size: 48px;
}

#grid-container
{
    display: grid;
    /*grid-template-columns:150px 150px 150px 150px;*/
    grid-template-columns: auto auto auto auto;
    grid-gap: 16px;



    /*justify-content: space-around;*/

    /*
    row-gap: 32px;
    column-gap: 48px;
    */

}

img
{
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

@media (max-width: 900px)
{
    #grid-container
    {
        grid-template-columns: auto auto auto;
    }
}

@media (max-width: 400px)
{
    #grid-container
    {
        grid-template-columns: auto;
    }
}
