button
{
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    outline: none;
}

#bfb
{
    background-color: #3b5993;
}

#bgoo
{
    background-color: #dd4b3d;
}

#bgit
{
    background-color: black;
}

.label
{
    padding-left: 8px;
}

#size
{
    width: 10px;
    height: 10px;
}